DECIMAL_WEB3_URLS=https://node.decimalchain.com/web3/
DECIMAL_REST_URLS=
DECIMAL_WS_URLS=
DECIMAL_API_ROOT=
DECIMAL_API_BASE=
DECIMAL_API_FALLBACK_BASES=
DECIMAL_API_KEY=

# Defaults match Decimal dsc-js-sdk endpoints. Override for your own nodes.
DECIMAL_TESTNET_CHAIN_ID=202020
DECIMAL_TESTNET_WEB3_URLS=https://testnet-val.decimalchain.com/web3/,https://202020.rpc.thirdweb.com
DECIMAL_TESTNET_REST_URLS=http://testnet-val.decimalchain.com/rest/
DECIMAL_TESTNET_API_ROOT=https://testnet-gate.decimalchain.com/api/
DECIMAL_TESTNET_API_BASE=https://testnet-api.decimalchain.com/api/

DECIMAL_DEVNET_CHAIN_ID=202020
DECIMAL_DEVNET_WEB3_URLS=https://devnet-val.decimalchain.com/web3/
DECIMAL_DEVNET_REST_URLS=http://devnet-val.decimalchain.com/rest/
DECIMAL_DEVNET_API_ROOT=https://devnet-gate.decimalchain.com/api/
DECIMAL_DEVNET_API_BASE=https://devnet-api.decimalchain.com/api/
